.careers {
  display: flex;
  &_left {
    margin-right: 33px;
    position: relative;
    width: 596px;
    height: 1374px;

    .green_write {
      .green-1 {
        color: var(--c-2-a, #6a983c);
        font-family: "Poppins 600";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 4px 10px;
        align-items: center;
        border-radius: 12px;
        background: var(--c-2-e, #f4f8ec);
        display: inline-block;
        position: absolute;
        top: 16px;
        left: 16px;
      }
      .green-2 {
        color: var(--c-2-a, #6a983c);
        font-family: "Poppins 600";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 4px 10px;
        align-items: center;
        border-radius: 12px;
        background: var(--c-2-e, #f4f8ec);
        display: inline-block;
        position: absolute;
        top: 16px;
        left: 86px;
      }
    }
  }
  &_right {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    &_title {
      color: var(--c-1-a, #151515);
      font-family: "Poppins 600";
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 44.8px */
    }
    .wrapper-1 {
      gap: 8px;
      .careers_right_info {
        color: var(--c-1-c, #a9a9a9);
        font-size: 12px;
        font-family: "Poppins 400";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .wrapper-11 {
        display: flex;
      }
    }
    .career_right-text {
      color: var(--c-1-a, #151515);
      font-size: 17px;
      font-family: "Poppins 400";
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .wrapper-2 {
      display: flex;
      gap: 62px;
      .info-types {
        width: 237px;
        height: 112px;
        color: var(--c-1-c, #a9a9a9);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        font-family: "Poppins 400";
        line-height: normal;
        .info-types-1 {
          line-height: 32px;

          @include flex;
        }
      }
    }
    .product-price {
      margin-top: 20px;
      font-family: "Poppins 400";
      width: 100%;
      height: 89px;
      margin-bottom: 22px;
      @include flex;
      .main-price {
        font-family: "Poppins 600";
        color: var(--c-2-a, #6a983c);
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .extra-price {
        color: var(--c-1-c, #a9a9a9);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: strikethrough;
      }
      .price-info {
        display: inline-flex;
        padding: 14px 16px;
        align-items: center;
        border-radius: 12px;
        border: 1px solid var(--c-1-d, #d1d1d1);
        background: var(--c-1-h, #f9f9f9);
      }
      .product-btn {
        display: flex;
        padding: 12px 16px;
        align-items: center;
        border-radius: 12px;
        border: 2px solid var(--c-2-b, #46760a);
        background: var(--c-2-a, #6a983c);
        color: var(--c-1-j, #fff);
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .wrapper-4 {
      font-family: "Poppins 400";
      width: 100%;
      height: 43px;
      @include flex;
      .wrapper-title {
        display: flex;
        color: var(--c-1-a, #151515);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        gap: 8px;
        margin-bottom: 46px;
        .title_count {
          display: flex;
          padding: 0px 8px;
          align-items: center;
          gap: 10px;
          border-radius: 12px;
          background: var(--c-2-e, #f4f8ec);
          color: var(--c-2-a, #6a983c);
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    .wrapper-5 {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-family: "Poppins 400";
      gap: 32px;
      &-title {
        color: var(--c-1-a, #151515);
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        font-family: "Poppins 500";
        line-height: normal;
      }
      &-info {
        color: var(--c-1-a, #151515);
        font-size: 14px;
        font-style: normal;
        font-family: "Poppins 400";
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.ss {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

table,
th,
td {
  font-family: "Poppins 400";
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 5px 10px;
}
td {
  padding: 10px;
}
.card {
  margin-top: 60px;
}
.card-1 {
  position: relative;
  display: flex;
  width: 269px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #d1d1d1;
  background: #fff;
  height: 323px;
  &-title {
    color: #151515;
    font-family: "Poppins 500";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &-info {
    color: #575757;
    font-family: "Poppins 400";
    font-size: 12px;
    line-height: normal;
  }
  &-trade {
    padding-top: 5px;
    @include flex;
    width: 237px;
    p {
      color: #151515;
      font-family: "Poppins 700";
      font-size: 18px;
      font-style: normal;
      line-height: normal;
    }
    button {
      display: flex;
      height: 36px;
      padding: 12px;
      align-items: center;
      gap: 6px;
      border-radius: 12px;
      border: 2px solid var(--c-2-b, #46760a);
      background: var(--c-2-a, #6a983c);
      color: var(--c-1-j, #fff);
      font-family: "Poppins 700";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .sale {
    position: absolute;
    top: 28px;
    left: 28px;
    display: inline-flex;
    padding: 0px 8px;
    align-items: center;
    gap: 10px;
    font-family: "Poppins 400";
    border-radius: 12px;
    background: var(--c-2-e, #f4f8ec);
    color: var(--c-2-a, #6a983c);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(85, 85, 85);
    transition: 0.3s ease all;
  }
}

.card-title {
  @include flex;
  color: var(--c-1-a, #151515);
  font-family: "Poppins 700";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
  .vv {
    @include flex;
  }
}

.card-all {
  @include flex;
}
